:root {
}

.menu-button {
    background-color: rgb(31, 31, 31);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    font-size: 22px;
    color: rgb(255, 255, 255);
    width: 30%;
}

.tab-button {
    background-color: rgb(31, 31, 31);
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    font-size: 29px;
    color: rgb(255, 255, 255);
    width: 15%;
    height: 59px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: rgb(41, 41, 41);
    border-right-color: rgb(41, 41, 41);
    border-top-color: rgb(41, 41, 41);
    border-bottom-color: rgb(41, 41, 41);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
